@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.woff2') format('woff2'),
       url('fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Bold.woff2') format('woff2'),
       url('fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.Quadrado {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  width: 113vh;
  height: 89vh;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #EFF0F6;
  padding: 4vh;
  display: flex;
  flex-direction: row;
}
h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.25rem; 
  color: #2F2F2F;
}
.divisor2 {
  width: 110vh;
  border-top: 1px solid #a1a1a156;
}