@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.woff2') format('woff2'),
       url('fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Bold.woff2') format('woff2'),
       url('fonts/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.header {
  display: flex;
  padding: 2vh;
  padding-bottom: 1vh;
}
.divisor {
  border: none;
  border-top: 2px solid #00000073;
  margin: 10px 0;
  width: 180vh;
}
.titulo {
  font-family: 'Inter', sans-serif;
  padding-left: 1.75vh;
}

h1 {
  padding-left: 1.75vh;
}


  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .botao1{
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #4D4D4D;
    font-style: normal;
    font-size: 1rem;
  }